<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Export Entities</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div style="height: 300px; overflow-y: auto">
            <div ng-repeat="item in tables track by $index">
                <div class="horizontal-container fill-right">
                    <label><input type="checkbox" ng-model="item.isSelected"/> {{::item.name}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Export</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
