<!DOCTYPE html>
<html class="fill">

<head>
    <title>
        Tsbatis Tools
    </title>
    <link rel="stylesheet" href="/stylesheets/layout.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="fill">
    <div class="vertical-container fill-bottom fill">
        <div class="top-panel">
            <div class="header">
                <div class="center-container center-vertical fill-height margin-left-20">
                    <div class="center-panel">
                        Tsbatis Tools
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-panel">
            <div class="horizontal-container fill-right fill">
                <div class="left-panel fill-height">
                    <div class="nav-list fill">
                        <a href="/entitygenerator" target="main">Entity生成</a>
                    </div>
                </div>
                <div class="right-panel fill-height">
                    <iframe class="fill" name="main"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>