iframe{
    border: 0
}

.header{
    background-color: #555285;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}

.nav-list{
    width: 250px;
    border: 0 0 1px 0 solid #000;
}