.header {
    height: 50px;
}

.header .brand {
    font-size: 20px;
    color: #fff;
}

.bg-dark {
    background-color: #343a40 !important;
}

.nav-list {
    width: 250px;
}

.input-group-addon .fa {
    width: 20px;
}